/* This page is CSS which will overwrite bootstrap css */
html {
    scroll-behavior: smooth; /* Smooth slide when clicking links. Note: not universally supported. Inprove by added JS */
}
h1, h2, h3, h4, h5, h6 {
    text-align: center;
}
 
p{
    text-align: left;
}

/* Settings for Image in Jumbatron header */
.vertical-center {
    height: 100vh; /* Set to size of visual area */
    background-image: url("../photos/homepage.jpg");
    background-repeat: no-repeat;
    background-position: center center; /* Position image in centre of Jumbatron */
    background-size: cover; /* Images re-sizes to cover entire ontainer, or is cut off at edges */
    background-attachment: fixed;
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
}
.vertical-center > .container {
    color: azure;
    text-align: center;
}
.vertical-center > .container > p {
    color: azure;
    text-align: center;
}

/* Header */
header {
    opacity: 1;
}
.header a {
    text-align: center;
    color: #fff;
    text-decoration: none;
}

/* Intro Section */
.intro img {
    border-radius: 50%;
    max-width: 140px;
    display: flex;
    margin: auto;
    display: block;
}

/* Experience Section */
  ul.no-bullets {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}
  ul > li .ability-title {
    display: inline-block;
    width: 60%;
}
  .ability-score{
    align-content: flex-start;
}
  .experience .nav-link {
    color: dimgrey;
    font-weight: bold;
}
  .skill {
    font-size: small;
    color: darkslategrey;
    text-align: left;
}
  .ability-score {
    display: inline-flex;
    align-content: flex-start;
}
  .full {
    color: black;
}
  .empty {
    color: slategrey;
   opacity: 0.5;
}
  hr {
    margin-top: 0;
    margin-bottom: 0;
}

/* FOOTER */
.site-footer {
    background-color: #26272b;
    padding: 45px 0 45px;
    font-size: 12px;
    text-align: center;
    color: darkgrey;
}

.site-footer p {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.site-footer h6 {
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    margin-top: 5px;
    margin-bottom: 15px;
    text-transform: uppercase;
}

.site-footer a {
    padding: 0;
    text-align: left;
}

.footer-links li {
    display: block
}
.footer-links a {
    color: darkgrey;
} .footer-links a:active, .footer-links a:focus, .footer-links a:hover {
    color: lightgray;
    text-decoration: none;
    font-size: 16px; 
}

  
